*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#wrapper{





    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}
.container{
    max-width:1200px;
    width: 100%;
    margin: 0 auto;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding-top: 1rem;



}
.logo-container{
    display: flex;
    justify-content: baseline;
    align-items: center;

}
.logo{
    width: 90px;
}
.logo-text{
    margin-left: -1.8rem;
    font-size: 29px;
}
.nav-items{
    display: flex;
    gap: 2em;

    padding:0 4rem;



}
a{
    text-decoration: none;
}
.nav-items div{
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;

}
.nav-items div a{
    color: black;
}
.nav-items div :hover{
    transform: all 1s;
    font-weight: bolder;
}
.hero-section{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin: 4rem auto;
    padding: 0 1rem;
    padding-bottom: 8rem;


}
.faded-text{
    user-select: none;
    font-size: 7em;
    color: grey;
    position: absolute;
    bottom: -16%;
    left: -2%;
    font-weight: bold;
    transition: all 3s;

}
.hero-section-left{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;

}
.hero-section-heading{
    font-size: 35px;
    font-weight: 500;
    color: #343d68;
}
.role{
    color: #4e45d5;
    font-weight: 800;
}
.hero-section-subheading{
    font-size: 45px;
    line-height: 45px;
}
.hero-section-description{
    margin-top: 1rem;
    width: 70%;
    font-weight: 500;
}
.btn-pink{
    background-color: #e84949;
    width: fit-content;
    color: white;
    padding: 0.8rem 2.3rem;
    box-shadow: 5px 5px 7px 0px #0000003f;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.5s;
    font-weight: 500;
    position: relative;
    z-index: 1;
}
.btn-pink::before{
    content: "";
    position: absolute;
    background-color: black;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.8s;
}
 .btn-pink:hover::before {
        transform: scaleX(1);
      }
.btn-pink:hover {
  color: #fff;
      }
      .hero-section-right{
        position: relative;
      }
.absolute{
    position: absolute;
}
.user-image{
    padding: 2.5rem;
    filter: grayscale(1);
    transform: all 1s;
    animation: scaleimage 5s linear infinite;

}
.user-image-img{
    z-index: -12;
}
@keyframes scaleimage {
    0%{

        filter: grayscale(1);
        transform: scale(1);
    }
    70%{
        transform: scale(1.1);
        filter: grayscale(0);
        border: 1px solid black;

    }
    100%{
        transform: scale(1);
        filter: grayscale(1);

    }
    
}
.icon-dots{
    z-index: 2;
    bottom: -1rem;
    right: 0;
    animation-name: dots;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    
}
@keyframes dots {
    0%{

        transform: translateY(0px);
    }
    50%{
transform: translateY(-15px);
    }
    100%{
        transform: translateY(0px);

    }
    
}
.icon-circle{
    z-index: 2;
    left: 0;
    bottom: 0;
    animation-name: shake;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 6s;



}
@keyframes shake {
    0%{

        left: 0;
        bottom: 0;
    }
    50%{
        left: 5%;
        bottom: 10%;

    }
    100%{
        left: 0;
        bottom: 0;

    }
    
}
.icon-plus{
    z-index: 2;
    top: -0.8rem;
    left: 20%;
    animation-name: shakeeffect;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes shakeeffect {
    50%{
        top: 3%;
        bottom: 2%;

    }
    
}
.project-section{
    background-color: rgb(231,231,231);
    margin-top: 4rem;

}
.page-header{
    color: #e84949;
    font-size: 90px;
    text-align: center;
    padding-top: 30px;
}
.project-container{
    max-width: 1200px;
    margin: 0 auto;
padding: 3rem 0;
display: flex;
flex-direction: column;
gap: 120px;



}
.project-card{
    width: 90%;
    height: 550px;
    background-image:url(Project1.png) ;
    background-size: cover;
    position: relative;
    box-shadow: 0px 0px 40px #1f1f1f;
    
}
.project-card::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
background-color: #1f1f1f9a;
z-index: 0;
}
.project-card::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(45deg,#343d68,#343d68be,#343d687c);
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.4s;
    z-index: 1;



}
.project-card:hover::before{
    transform: scaleX(1);
}
.project-number{
    position: absolute;
    font-size: 200px;
    font-weight: 600;
    color: white;
    z-index: 10;
    display: none;
   

}
.project-number-left{
     right: -45px;
    top: -40px;
}
.project-number-right{
    left: -45px;
    top: -40px;
}
.project-card:hover .project-number{
    display: block;

}
.project-content{
    position: absolute;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 2em;
    bottom: 20%;
    z-index: 5;
    gap: 1em;
    transition: all 0.4s;


}
.project-content-left{
    left: 10%;
}
.project-content-right{
right: 10%;
}
.project-skills-container{
    width: 60%;
    display: flex;
    gap: 10px;
    flex-wrap: flex;


}
.project-skill{
    width: 40px;
}
.project-heading{
    font-size: 50px;
    font-weight: bold;
    line-height: 3rem;
}
.project-subheading{
    width: 70%;
    font-size: 16px;
    font-style: italic;
}
.btn-grp{
    display: flex;
    gap: 0.9rem;
    align-items: center;
}
.btn-project:hover{
    border: none;

}
.icon{
    color: white;
    font-size: 25px;
    cursor: pointer;
    transition:all 0.4s;
}
.icon:hover{
    color: #e84949;
}
.project-card:hover .project-content{
    transform: scale(1.2);
}
#project1{
    background-image: url(Project1.png);
}
#project2{
    margin-left: 120px;
    background-image: url(Project2.png);
}
#project3{
    background-image: url(Project3.png);
}
@media(max-width:500px){
    .page-header{
        padding-top: 30px;
        color: #e84949;
        text-align: center;
        font-size: 40px;
    }
    .project-container{
        padding: 5px;
        margin: 10px;
        gap: 60px;
    }
    .project-card{
        width: 100%;
        height: 300px;
        background-position: center;
        background-size: cover;
    }
    .project-content{
        scale: 0.5;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
    }
    .project-content-left{
        right: 0;
    }
    .project-heading{
        font-size: 40px;
        width: 100%;
    }
    .project-subheading{
        width: 100%;
    }
    #project2{
        margin-left: 0;
    }
.project-skills-container{
    width: 100%;
}
.project-skill{
    width: 35px;
}

}
.skills-container{
    position: relative;
    display: flex;
    padding: 5rem;
    margin: 10rem auto;
    gap: 30px;

}
.skill-container-left{
    width: 50%;
    display: flex;
    flex-direction: column;

}
.skill-container-right{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    position: relative;
    gap: 2rem;
    justify-content: center;
}
.skill-fade-text{
    font-size: 10em;
    font-weight: bold;
    color: rgb(231, 231,231);
    bottom: -34.5%;
    right: -8%;
    user-select: none;
    position: absolute;
    

}
.blob-style{
    position: absolute;
    top: 50%;
    left: 50%;
    animation: blobanimate 3s  linear infinite;
    transform: translate(-50%,-50%);
    z-index: 1;

}
@keyframes blobanimate {
    50%{
        top: 54%;
        left: 56%;
    }

    
}
.skills-logo{
    width: 90px;
    transition:all 0.5s ;
    z-index: 3;
}
.skills-logo:hover{
    transform: scale(1.3);
}
.skill-heading{
    font-size: 50px;
    font-style: italic;
    color: #e84949;
    line-height: 50px;
}
.caps
{
    font-size: 90px;

}
.skill-subheading{
    text-align: justify;
    width: 85%;
    margin-top: 1rem;
}
.skill-subheading p{
    margin: 15px 0;
}
.contact-us-form{
    background-color: rgb(231, 231,231);
    width: 100%;
}
.contact-us-heading{
    font-size: 5em;
    color: #e84949;
    padding-top:2rem ;
}
.contact-us-subheading{
    font-size: 3rem;
    color: #1f1f1f;
}
.contact-us-form{
    display: flex;
    margin-top: 25px;
    align-items: center;
    justify-content: center;

}
.form{
display: flex;
flex-direction: column;
gap: 30px;
width: 70%;
margin: 2rem 5rem;
}
.form-field-container{
    width: 100%;
    

}
.formfield{
    width: 100%;
    height: 42px;
    font-size: 18px;
    border-radius: 5px;
    padding: 0 2rem;
    border-radius: 5px;
    margin: 15px;
    

}
.formfield-textarea{
    padding-top: 1rem;
    height: auto;

}
footer {
    position: relative;
    margin-top: 1px;
    background-color: #343d68;
    padding: 4rem 0;
}

.footer-wrapper {
    display: flex;
    gap: 1rem;
    padding: 1.2rem;
}

.footer-faded-text {
    position: absolute;
    right:0 ;
    bottom: 0;
    color: white;
    font-size: 5em;
}

.link-wrapper a {
    
    color: white;
    text-decoration: none;
}
.link-wrapper{
    display: flex;
    gap: 2rem;
}